:root {
  --color-bg: #69F7BE;
}

/*
* { box-sizing: border-box; }
[hidden] { display: none !important; }
*/

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
       format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
       format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

h1 {
  color: #2800FF;
}

input { 
  height: 24px;
  padding: 8px;
  font-size: 16pt;
  width: 81%;
}

#prob    { color: #999999; }
#probpre { color: #999999; }

#expectogrid td {
  border: 1px solid #999999;
  padding: 8px;
  text-align: center;
}

/* #expectogrid td:nth-child(even) { background-color: #f2f2f2; } */
/* #expectogrid tr:nth-child(even) { background-color: #f2f2f2; } */

#expectogrid td:hover { background-color: #dddddd; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}
.pushable:active .front {
  transform: translateY(-2px);
}

.spin_container {
	width: 100%;
	height: 100%;
	position: relative;
}